body {
    background: #f9f9f9;
}

.container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto;
}

.container header {
    grid-row: 1;
    grid-column: 1;
    background: #eee;
}

header h1 {
    text-align: center;
}

header nav {
    display: none;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
}

.container aside {
    grid-column: 1;
    grid-row: 1;
    background: #333;
}

.container aside h1 {
    color: #ccc;
    margin: 0;
    padding: 25px 15px;
}

.container aside nav {
    padding: 0;
    margin: 0;
}

.container aside nav ul {
    padding: 0;
    margin: 0;
    border-top: 1px solid #444;
}

.container aside nav ul li {
    list-style-type: none;
    border-bottom: 1px solid #444;
}

.container aside nav ul li a {
    display: block;
    color: #eee;
    text-decoration: none;
    padding: 8px 15px;
}

.container aside nav ul li a:hover {
    background-color: #444;
}

.container main {
    grid-row: 2;
    grid-column: 1;
    overflow-y: scroll;
}

.container footer {
    text-align: center;
    color: #bbbbbb;
    margin: 25px;
}

.work-overview {
    display: flex;
    flex-wrap: wrap;
}

.work-overview .work {
    display: block;
    width: calc(100% / 4);
}

.work {
    position: relative;
    background: #ddd;
}

.work:nth-child(2n) {
    background-color: #d0d0d0;
}

.work .work__image {
    display: block;
    width: 100%;
}

.work .work__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.work .work__title {
    display: none;
    color: #eee;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.25);
}

.work .work__title h1 {
    margin: 0;
}

.work .work__link a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.work .work__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .35);
}
.work:hover .work__overlay {
    background-color: rgba(0, 0, 0, 0);
}

.work:hover .work__title {
    display: inline-block;
}

.work-detail {
    display: block;
    margin: 0 auto;
    padding: 20px;
    max-width: 1000px;
}

.work-detail__title {
    margin: 0 0 5px;
}

.work-detail__translations {
    margin: 0 0 25px;
    font-weight: normal;
    font-size: 1em;
    color: #999;
}

.work-detail .work-detail__image {
    text-align: center;
    background: #f3f3f3;
}

.work-detail .work-detail__image img {
    max-width: 100%;
    vertical-align: top
}

.about {
    display: block;
    margin: 0 auto;
    padding: 20px;
    max-width: 750px;
    line-height: 1.25;
}
