body {
    background: #eee;
}

.container {
    display: grid;
    grid-template-columns: 220px auto;
    grid-template-rows: 100vh;
}

.container aside {
    grid-column: 1;
    grid-row: 1;
    background: #333;
}

.container aside h1 {
    color: #ccc;
    margin: 0;
    padding: 25px 15px;
}

.container aside nav {
    padding: 0;
    margin: 0;
}

.container aside nav ul {
    padding: 0;
    margin: 0;
    border-top: 1px solid #444;
}

.container aside nav ul li {
    list-style-type: none;
    border-bottom: 1px solid #444;
}

.container aside nav ul li a {
    display: block;
    color: #eee;
    text-decoration: none;
    padding: 8px 15px;
}

.container aside nav ul li a:hover {
    background-color: #444;
}

.container main {
    grid-column: 2;
    grid-row: 1;
    overflow-y: scroll;
}

.work-overview {
    display: flex;
    flex-wrap: wrap;
}

.work-overview .work-overview__item {
    display: block;
    width: calc(100% / 3);
    background: #ddd;
}

.work-overview .work-overview__item img {
    display: block;
    width: 100%;
}
